* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(to right, #71f3b6, #4eeb94, #71f3b6);
    min-height: 100vh;
}

header, form {
font-size: larger;
min-height: max-content;
display: flex;
justify-content: center;
align-content: flex-start;
}

form input, form button {
padding: 0.5rem;
font-size: 1.5rem;
border-bottom: #111010 ;
background-color: rgb(240, 236, 236);
}

form button {
color: rgb(19, 17, 17);
background: #cccccc;
cursor: pointer;
transition: all 0.3s ease;
}

form button:hover {
background: #fcfbfc;
color: #cacac7;
}


